/DragonFiesta/Run
/DragonFiesta/DragonFiesta.Zone/obj
/DragonFiesta/DragonFiesta.World/obj
/DragonFiesta/DragonFiesta.World/bin
/DragonFiesta/DragonFiesta.Zone/bin
/DragonFiesta/DragonFiesta.Utils/obj
/DragonFiesta/DragonFiesta.Utils/bin
/DragonFiesta/DragonFiesta.Providers/obj
/DragonFiesta/DragonFiesta.Providers/bin
/DragonFiesta/DragonFiesta.Networking/bin
/DragonFiesta/DragonFiesta.Networking/obj
/DragonFiesta/DragonFiesta.Messages/obj
/DragonFiesta/DragonFiesta.Messages/bin
/DragonFiesta/DragonFiesta.Login/obj
/DragonFiesta/DragonFiesta.Login/bin
/DragonFiesta/DragonFiesta.Game/obj
/DragonFiesta/DragonFiesta.Game/bin
/DragonFiesta/2
/DragonFiesta/.vs
/Tools_2018/Run
/Tools_2018/DragonLauncher/x64
/Tools_2018/DragonLauncher/DragonLauncher/x64
/Tools_2018/DragonLauncher/DragonLauncher/Debug
/Tools_2018/DragonLauncher/DragonLauncher/Release
/Tools_2018/DragonHook/x64
/Tools_2018/DragonHook/Debug
/Tools_2018/DragonHook/Release
/Tools_2018/.vs
/.vs
/Tools_2018/DragonLauncher/.vs/DragonLauncher/v15
*.DotSettings
